#inicio { 
    color : blue;
    
}
body, header {
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(96, 204, 204, 0.651);
    display: flex;
    flex-direction: column; /* Organiza todo el contenido en una fila vertical (uno abajo del otro) */
    align-items: center;    /* Centra horizontalmente todos los elementos del body */
    margin: 0;              /* Quita los márgenes por defecto del navegador */
    padding: 20px;          /* Opcional: da un espacio de respiro a los lados para que no toque los bordes */
   
  }
  ul, ol {
    display: inline-block;  /* Hace que la lista se adapte a su contenido y se centre */
    text-align: left;       /* Mantiene los puntitos alineados a la izquierda para que se vea ordenado */
  }

  /* Corrección necesaria para Tablas */
  table {
    margin-left: auto;
    margin-right: auto;   /* Asegura el centrado total del bloque de la tabla */
  }
.image {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

   
.cuadrito{ 
    border-color: black ;
}
.I {
    color : rgb(235, 0, 0)
}
.nav { 
    display:flex;
    justify-content: center; 
    align-items: center;
    height: 5vh;        
}

.Boton1 {
    background-color: rgb(0, 124, 10);
}
.Boton2 {
    background-color: rgb(243, 0, 0);
}