:root {
    --ColorRojo : #b30303ea ;
    --ColorAzulTitulos : #02278d;
    --ColorVerdeContenido: #116800d5;

}


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1f2937;
    background-color: #f4f7fb;
}
/* Estilos del header*/
.hero {
    margin: 5px 20px 0px 20px;
    border-radius: 7px;
    padding: 40px 20px 20px 30px ;
    text-align: center;
    background-color: var(--ColorRojo);
    color: white;
}

.hero h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    }
.hero h2 { 
    color: var(--ColorAzulTitulos);
    background-color: #ffffff;
    margin: 15px 50px 15px 50px ;
    border-radius: 10px;
}
.hero p {
    font-size: 18px;
    line-height: 1.6;
}


.container {
    width: 92%;
    max-width: 900px;
    margin: 32px auto;}

/* Estilos de la seccion 1*/
.card {
        background-color: white;
        padding: 24px;
        margin-bottom: 24px;
        border: 1px solid var(--ColorVerdeContenido);
        border-radius: 18px;
}
.card h2 {
        margin-top: 0;
        color: var(--ColorAzulTitulos);
}
.card p {
        line-height: 1.7;
}
.intro {
        text-align: center;
}
.link {
    color: #ffffff;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--ColorAzulTitulos);
    text-decoration: none;
}
/* Estilos de la seccion 1*/
.skills-list {
    padding-left: 20px;
    line-height: 1.8;
    }
    .skills-list li {
    margin-bottom: 8px;
    }
    .skills-list li::marker {
    color: var(--ColorAzulTitulos);
    }

/* Estilos de la seccion 2*/

.progress-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}
.progress-table th,
.progress-table td {
    border: 1px solid rgb(28, 0, 94);
    padding: 12px 16px 12px 16px;
    text-align: left;
    }
.progress-table th {
    background-color: var(--ColorAzulTitulos);
    color: white;
    }
.progress-table tr:nth-child(even) {
    background-color: #ffffff;
    }
/* Estilos de la seccion 3*/
.info-box {
        border-left: 6px solid #1d4ed8;
        }
        .scroll-box {
        max-height: 120px;
        overflow: auto;
        padding: 16px;
        border: 1px solid #d1d5db;
        border-radius: 12px;
        background-color: #f9fafb;
}
/* Estilos de la seccion 4*/
.footer {
        padding: 20px;
        text-align: center;
}